<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit a Pokemon!</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<h1>Pokemon!</h1>
<p>
    <a href="/pokemonz/add">Edit a Pokemon!</a>
</p>
<ul>
    <li th:each="pokemon : ${pokemonz}">
        <p>
            <span> Name: </span>
            <span th:text="${pokemonz.name}"></span>

            <span> Poke ID: </span>

            <span th:text="${pokemonz.id}"></span>

            <span> Pokemon Type: </span>
            <span th:text="${pokemonz.type}"></span>
            <a th:href="'/pokemonz/' + ${ballz.id} + '/edit'">Edit</a>
        </p>
    </li>
</ul>
</body>
</html>